@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
    background-image: url("/img/sign-fon.png");
}

.sign a img{
    margin-top: 30px;
    margin-left: 100px;
}

.box{
    transition: 0.5s;
    width: 700px;
    height: 630px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    }

.box h1{
        color: rgb(0, 0, 0);
        font-weight: 500px;
}

.box p{
    color: rgb(0, 0, 0);
    font-size: 20px ;
    padding: 30px 250px 0px 0px;
    font-weight: 500;
}

.box a{
    position: absolute;
    color: #FF0000;
    font-size: 20px ;
    padding-left: 20px;
    margin-top: -23px; 
    font-weight: 500;
}

.box2{
    transition: 0.5s;
    margin-top: 50px;
    width: 560px;
    height: 420px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    
}

.box2 h2{
    text-align: start;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.box2 h3{
    margin-top: 20px;
    text-align: start;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.box2 input[type = "text"], .box2 input[type = "password"]{
    margin-top: 20px;
    align-self: start;
    border: 0;
    width: 464px;
    height: 58px;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    transition: 0.25s;
    }

.box2 input[type = "checkbox"]{
    height: 20px;
    width: 20px;
    margin-right: 440px;
    margin-top: 20px;
}

.box2 p{
    font-size: 14px;
    text-align: start;
    margin-top: -25px;
    margin-left: 50px;
}

.box2 input[type = "submit" ]{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    border: 0;
    width: 200px;
    height: 40px;
    text-align: center;
    background: #FF0000;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.6);
    border-radius: 11px;
    color: #FFFFFF;
}
